@media only screen and (max-width : 959px) {

  /*  MAIN LAYOUT */
  .ck-center /* Wrapper for centered government design */
  {
    width: 100%;
  }
  .ck-main /* Main area of cookiebar */
  {
    padding: 0;
    background: none; /* Main lightgreen background with shadow */
  }
  .ck-content /* Content area, also provides hook for presentation */
  {
    width: auto;
  }


  /* TYPO */
  #ck-attention
  {
    padding: 10px 0 0;
    font: 140%/1.2 Arial,Geneva,sans-serif;
  }
  #ck-intro
  {
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.2em;
  }
  .iphone.ios6 #ck-intro,
  .iphone.ios6 #ck-options div li,
  .iphone.ios6 #ck-links li
  {
    font-size: 0.7em !important;
    font-size-adjust: none !important;
  }

  .answered #ck-intro
  {
    width: 100%;
  }

  /* CHOICES ARE LINKS BUT LOOK LIKE BUTTONS */
  #ck-options div
  {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .answered #ck-options
  {
    width: 100%;
  }
  #ck-options div a
  {
    font-size: 100%;
  }

  #ck-options div li
  {
    font-size: 14px;
    line-height: 1;
    list-style: none;
  }

  /* LINK LISTS */
  #ck-links p
  {
    background: url(../images/cookiebar-icons-xl-resp-fix.png) 100% -285px no-repeat; /* Down arrow for linklist dropdown */
    padding: 0 30px 8px 0;
    font-size: 100%;
  }

  #ck-links,
  #ck-links ul
  {
      margin: 0;
      padding-left: 0;
      font-size: 14px;
  }
  #ck-links li
  {
    margin: 0;
    font-size: 14px;
    list-style: none;
  }
  #ck-links a
  {
    background: url(../images/cookiebar-icons-xl-resp-fix.png) 0 0 no-repeat; /* Arrows in linklist */
  }

  .answered #ck-options a
  {
    font-size: 1em;
    background: url(../images/cookiebar-icons-xl-resp-fix.png) 0 -140px no-repeat; /* Close icon */
  }

  .answered #ck-links
  {
    width: 100%;
  }
}
